<div class="wrap" style="background-image:url(http://imgsrv.krty.com/image/krty/UserFiles/Image/enchiladas.jpg);">
    <div class="stripe">
        <div class="content">
            <h1>
                <span>How about</span>
                <a href="http://allrecipes.com/Recipe/Chicken-Enchiladas-II/">Enchiladas</a>
            </h1>
            <p>A great way to use leftover chicken. Even kids love these!</p>
            <p><a class="button" href="#">Get another idea</a></p>
            <p class="add-link"><a href="new.html">Or add your own…</a></p>
        </div>
    </div>
</div>
