<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>DinnerApp</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
<%= csrf_meta_tags %>
</head>
<body class="admin">

<div class="container">
<%= yield %>
</div>

</body>
</html>
